.sfir-inspect-table-text {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.sfir-inspect-table-text.value-is-object {
  color: var(--sfi-value-object);
}

.sfir-inspect-table-text.value-is-number {
  color: var(--sfi-value-number);
}

.sfir-inspect-table-text.value-is-boolean {
  color: var(--sfi-value-boolean);
}

.sfir-inspect-table-text.value-is-boolean-true {
  color: var(--sfi-value-boolean-true);
}

.sfir-inspect-table-text.value-is-blank {
  color: var(--slds-g-color-border-1);
  font-style: italic;
}

.sfir-inspect-table-text.value-is-unknown {
  color: var(--slds-g-color-border-1);
  font-style: italic;
}

tr.fieldCalculated {
  font-style: italic;
}

tr.fieldHidden,
tr.fieldHidden a[href] {
  color: var(--slds-g-color-on-surface-3);
}

.sfir-field-column {
  max-width: 200px;
  /* To handle long words. This is not actually 200px but scales with the table. Table layout magic. */
}

.sfir-filter-clear {
  right: 0.75rem;
  position: absolute;
  top: 20%;
  fill: var(--slds-g-color-border-2);
  line-height: 1;
  color: var(--slds-g-color-on-surface-2);
}

.sfir-filter-clear-icon {
  width: 0.875rem;
  height: 0.875rem;
  fill: currentColor;
}